// This file is empty within the template
// You can use it to override CSS from within your project

.banner {
  background-image: url(images/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px){
    padding: 100px;
  }

  p {
    color: #000;
    font-size: 20px;
  }

  .mx-auto {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    box-shadow: 0 12px 24px -6px rgba(45,67,121,.1);
    padding: 20px;
  }
}